@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }
  a {
    /* NOTE: There are currently some duplicate anchor styles applied to the <main> element in app/layout.tsx 
       (I had to put those there since that's where I applied the 'prose' classes and those classes have built-in
       anchor styles that I had to override 
    */
    @apply rounded-sm 
      border-b 
      border-blue-600 
      border-opacity-40        
      text-blue-600
      no-underline
      hover:border-b-2
      hover:border-opacity-80
      hover:bg-blue-600
      hover:bg-opacity-10;
  }

  p {
    /* @apply lg:text-sm; */
  }
}
