/* I'm using a CSS file in this case because grid-template-areas don't seem to be easy with Tailwind utility classes currently */
.root {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: stretch;
  grid-template-areas:
    "topLeft     topCenter     topRight"
    "middleLeft  middleCenter  middleRight"
    "bottomLeft  bottomCenter  bottomRight";
}
.root > * {
  margin: 4px;
}

.upArrow {
  grid-area: topCenter;
  width: auto !important;
}
.downArrow {
  grid-area: bottomCenter;
  width: auto !important;
}

.leftArrow {
  grid-area: middleLeft;
  height: auto !important;
}
.rightArrow {
  grid-area: middleRight;
  height: auto !important;
}

.gameBoard {
  grid-area: middleCenter;
}
